#!/usr/bin/bash

sudo amazon-linux-extras install -y nginx1
sudo cat << EOF > /etc/nginx/conf.d/proxy.conf
server {
    listen 80;
    location / {
        proxy_pass http://${proxy_to_ip}:${proxy_to_port};
        proxy_http_version 1.1;
        proxy_set_header Upgrade \$http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host \$host:8888;
    }
}
EOF
sudo systemctl start nginx